header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
main {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap; /*for responsiveness*/
}

.product {
  margin: 1rem;
  border: 1px #404040 solid;
}

.product img {
  /*width: 100%px; tempo */
  height: 450px;
  max-width: 450px;
  width: 450px;
}

.product-info {
  padding: 1rem;
}
